/*background-attr*/
    $bg-body: #10011f;
    $bg-header: #190b28;
    $bg-search-form: #291c37;
    $bg-sidebar: #21132f;
    $bg-sidebar-item: #21132f;
    $bg-sidebar-item-active: #ff3cb1;
    $bg-wapper-content: #10011f;
    $bg-back-top: #828282;
    $bg-back-top-hover: #333;
    $bg-back-top-active: #555;
    $bg-scroll-horizontal: #b1b0b0;

    $bg-btn-share: #322740;
    $bg-btn-trade: #ff3cb1;
    $bg-pv-box: #190929;

    $bg-pairs-pool: #190929;
    $bg-progress-up: #4ade80;
    $bg-progress-down: #ef4444;
    $bg-pagination-item: #24262d;
    $bg-pagination-item-disable: #ff3cb1;
    $bg-tr-even: #190929;
    $bg-tr-odd: #10011f;

    $bg-top-table-tr: #190929;
    $bg-box-home: #190929;
/*color-attr*/
    $color-white: #fff;
    $color-up: #10b57f;
    $color-down: #bb363d;
    $color-logo-text: #e0369f;
    $color-menu-toggle: #828282;
    $color-pool-info-value: #4ade80;
    $color-pairs-tab: #df349e;
    $color-pagination-item: #fbfbfb;
    $color-tab-table-td: #756c7e;
    $color-td-action: #ff3cb1;
    $color-top-table-td: #756c7e;
    $color-top-table-td-name: #ff3cb1;

    $color-bh-right-text: #ff3cb1;
    $color-bh-left-title: #8a8291;
    
